<%- include("partials/header"); -%>
<div class="container">
    <div class="container my-4 jumbotron">
        <div class="text-center my-4">
            <img src="/img/Sneha.jpg" alt="Sneha" style="width: 200px; height: 220px; object-fit: cover; border-radius: 50%;">
            
            <!-- <img class="rounded-circle mr-4 float-left img-fluid" src="/img/Sneha.jpg" alt="Profile" style="max-width: 120px;"> -->
            <h1 class="display-4 mt-3">Hey, I am Sneha</h1>
        </div>
        <p class="lead" style="clear: left;">Currently pursuing B.Tech in Computer Science (Indira Gandhi Delhi Technical University for Women)</p>
        <p class="lead">Software Developer</p>
        <p class="lead">E-Mail: snehanadanwar@gmail.com</p>
        <h4>About Project:</h4>
        <p class="lead">Blogify is a blogging platform built using Node.js, Express.js, MongoDB, EJS, and Passport.js.</p>
        <p class="lead">It supports all CRUD operations along with Google OAuth, likes, comments, and search functionalities.</p>
        <hr class="my-4">
        <p>Connect on LinkedIn:</p>
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/sneha-nadanwar-52895a282/" target="_blank">Get Connected</a>
    </div>
</div>
<%- include("partials/footer"); -%>